*{
  margin: 0;
  box-sizing: border-box;
}
.registerform,
.loginform{
  margin-top: 25%;
  color: red;
  display: flex;
  flex-direction: column;
  width: auto;
  
 
}
.content{
display: flex;
align-items: center;
width: auto;
}
.App{
  display: flex;
  
  justify-content: center;
}
a{
  text-decoration: none;
}